// utils
@import 'utils/_fonts';
@import 'utils/_vars';
@import 'utils/_mixins';

* {
  box-sizing: border-box;
}
body {
  min-width: @minWindowWidth;
  background-image: url('../img/app/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.case-item {
  width: 205px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: auto 138%;
  padding-bottom: 3px;
  margin-top: 30px;
  .case-item-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
  }
  &__img {
    display: block;
    width: 180px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__type {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    position: relative;
    top: -1px;
  }
  &__name {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    top: -2px;
  }
}
.case-item.blue { background-position:-10px 45% }
.case-item.green { background-position: -230px 45% }
.case-item.purple { background-position: -455px 45% }
.case-item.red { background-position: -675px 45% }
.case-item.yellow { background-position: -900px 45% }
