// utils
@import 'utils/_fonts';
@import 'utils/_vars';

// modules
@import 'modules/_header';

* {
  box-sizing: border-box;
}
body {
  padding-left: 212px;
  padding-right: 126px;
  background-image: url('../img/app/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
