// font colors
@defFontYellow: #FFD231;
@defFontGreen: #7BFF12;
@defFontBlue: #12D9FF;

// background colors
@defBlackTrans: rgba(0, 0, 0, 0.2);
@defPurpleBg: #6D1CD4;
@defPurpleBgHover: #7333C6;

// borders
@defGreyBorder: #2D2D31;
@defPurpleBorder: #5E2AA3;
@defYellowBorder: #FFD231;

